@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;500&display=swap");

* {
  box-sizing: border-box;
  font-family: "Poppins";
}

body {
  background-image: linear-gradient(
    to right,
    yellow,
    rgba(245, 222, 10, 0.966),
    rgb(255, 208, 0),
    rgba(200, 2, 200, 0.986),
    purple,
    indigo
  );
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

h1 {
  font-size: 35px;
  background-color: black;
  padding: 10px;
  color: white;
  border-radius: 10px;
}
p {
  font-size: medium;
}
a {
  color: yellow;
  text-decoration: none;
  text-transform: uppercase;
}
a:hover {
  color: rgb(184, 17, 250);
}
.containerUp {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.js-mainBM {
  text-align: center;
  align-items: center;
}

.filterBy {
  width: auto;
  height: auto;
  margin-left: 20px;
}

.btnSubmitNB,
.btnCancel,
#cancel-error,
.btnDel,
.btnNew,
#js-filter,
.jsBMElement,
#js-filter-NB {
  display: inline-block;
  cursor: pointer;
  background-color: black;
  color: white;
  border-color: rgb(184, 17, 250);
  border-radius: 10px;
  padding: 10px;
  font-size: medium;
  margin-top: 10px;
  margin-bottom: 10px;
}

.btnSubmitNB,
.btnCancel,
#cancel-error,
.btnDel {
  background-color: white;
  color: black;
  border: 3px solid yellow;
  border-radius: 10px;
}

fieldset {
  background-color: black;
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  border-radius: 10px;
  border-color: rgb(184, 17, 250);
}

form input[type="text"] {
  margin: 3%;
  width: auto;
  border-radius: 8px;
  padding: 10px;
}

form textarea {
  height: 150px;
  border-radius: 10px;
  margin-bottom: 5%;
  padding: 10px;
}

.bookmarks ul {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 10px;
  border-color: rgb(184, 17, 250);
}

li {
  list-style: none;
  padding: 20px;
}

.box,
.upper-case {
  background-color: white;
  color: black;
  border-radius: 10px;
  padding: 10px;
  margin-top: 2%;
}
.upper-case {
  text-transform: uppercase;
}
